.hubbub-avatar {
  border-radius: 3px;
  float: left;
}
.hubbub-content {
  margin-left: 55px;
}
.hubbub-timestamp {
  float: right;
}
.hubbub-header a {
  margin-right: 5px;
}
.hubbub-username {
  font-weight: bold;
}
.hubbub-username, .hubbub-permalink {
  color: #000;
  text-decoration: none;
}
.hubbub-comment-body p {
  margin-top: 8px;
  margin-bottom: 16px;
}
/* async.js specific styling */
.hubbub-comment-body a {
  border-bottom:1px dashed;
}
.hubbub-avatar {
  margin-top:4px;
}